.dropdown {
    width: 100%;
    border: 1px solid #ddd;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.dropdown__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown__left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}

.dropdown__logo {
    width: 2rem;
    height: 2rem;
}

.dropdown__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dropdown__title {
    font-size: 1rem;
    font-weight: 600;
}

.dropdown__arrow {
    transition: transform 0.3s ease;
}

.dropdown__arrow.active {
    transform: rotate(180deg);
}

.dropdown__content {
    padding: 0;
}

.dropdown__text {
    color: #404040;
    padding: 1rem;
}

.hidden {
    display: none;
}

.news-card {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    height: 8rem;
}

.news-card__wrapper {
    display: flex;
    gap: 1rem;
    height: 8rem;
}

.news-card__text-content {
    height: 8rem;
}

.news-card__title {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.news-card__title a {
    color: #333;
    text-decoration: none;
}

.news-card__title a:hover {
    color: #666;
}

.news-card__text {
    color: #666;
    font-size: 0.7rem;
    line-height: 1;
}

.news-card__image-container {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    flex-shrink: 0;
}

.news-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* Adjustments for the dropdown content */

.dropdown__articles {
    padding: 0;
}