* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --dark-color: hsl(0 0% 10%);
    --light-color: hsl(0 0% 97%);
}

[data-dark="true"] {
    color-scheme: dark;
}

[data-dark="false"] {
    color-scheme: light;
}


html {
    color: #404040;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header{
    height: 10rem;
    background-color: aquamarine;
} */



li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    height: 5rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    bottom: 0;
}

nav {
    background-color: white;
}