#app{
    display: grid;
    grid-template-columns: 
    [fullw-start]1.5rem 
    [content-start] 1fr [content-end] 
    1.5rem[fullw-end];
}

@media screen and (width >= 37.5rem){
    #app{
        grid-template-columns: 
        [fullw-start]1.5rem 
        [content-start] 1fr 1fr [content-end] 
         1.5rem[fullw-end];
    }
}

@media screen and (width >= 48rem){
    #app{
        grid-template-columns: 
        [fullw-start]2rem 
        [content-start] 1fr 1fr [content-end] 
        2rem[fullw-end];
    }
}

@media screen and (width >= 64rem){
    #app{
        grid-template-columns: 
        [fullw-start]1fr 
        [content-start] repeat(4, 16rem) [content-end] 
         1fr[fullw-end];
    }
}

header, main, footer{
    grid-column: fullw;
    display: grid;
    grid-template-columns: subgrid;
}

header > *,
main > *,
footer > *{
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
}

.columns{
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
    gap: 1.5rem;
}

.no-columns{
    grid-column: content;
    display: block;
}